<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="mb-1 restaurant-show-title">{{data.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{data.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{data.location}}
        {{!-- <a href="https://goo.gl/maps/{{data.location}}" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs"></i>
        </a> --}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{data.phone}}
      </p>

      <p class="mb-5">
        {{data.description}}
      </p>
      <a href="/" style="margin-right:1rem ;">返回首頁</a>
      {{!-- <a class="deleteData" id="{{data._id}}" style="margin-right:1rem ;">刪除此餐廳</a> --}}
      <a href="/restaurant/edit/${{data._id}}" style="margin-right:1rem ;">修改餐廳資料</a>
      <form action="/restaurant/{{data._id}}?_method=DELETE" method="post">
              <button id="submit"  >刪除餐廳</button>
        </form>

      <img class="rounded mx-auto d-block mb-4 w-100" src="{{data.image}}" alt="{{data.name}}" style="max-width: 600px;">
    </div>
    
  </div>
</div>
<script>
    let button = document.querySelector("#submit")
    button.addEventListener("click",(e) => {
      e.preventDefault();
      let form = e.target.parentElement
          console.log(e.target.parentElement)
          Swal.fire({
            title: '確定要刪除資料嗎',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '是的'
        })
        .then((result) => {
          if (result.value) {
               HTMLFormElement.prototype.submit.call(form);
            }
        })
    })
</script>
</body>
</html>